# pkg and bin directories currently contain build artifacts
# only so we exclude them.
bin/
manifests/external-crds/

# IDEs
.vscode/
__debug_bin
.idea/
.DS_Store
.swp
*~

# Jupyter Notebooks.
**/.ipynb_checkpoints

# Python cache files
__pycache__/
*.egg-info/

# OpenAPI Generator CLI JAR file
hack/python-sdk/openapi-generator-cli.jar

# Coverage
cover.out
