apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow
resources:
  - ../../base
  - namespace.yaml
images:
  - name: kubeflow/training-operator
    newTag: v1-5170a36
secretGenerator:
  - name: training-operator-webhook-cert
    options:
      disableNameSuffixHash: true
