html {
  font-family: roboto, sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  height: 56px;
  padding: 12px;
  color: rgb(239, 108, 0);
}

.App-title {
  font-size: 1.5em;
  margin-top: 3px;
  text-align: left;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Card {
  background-color: white;
  border-color: #eee;
  border-style: solid;
  border-width: 1px;
}

.CardBox {
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(0, 0, 0, 0.12);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.12);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.12);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top-style: solid;
  border-top-width: 1px;
}